# Database Systems Project

#### Group: Maxim Daniel, Mathias Husted, Sonja Kutscher

For this project, we have been given 2 datasets `hochschulen.csv` and `bevoelkerung.csv` to analyze. We have to complete 8 separate tasks, including pitching an idea for ways to analyze the dataset, preprocessing the data, performing queries on it and visualize our results. We will be using PostgreSQL with the Python framework psycopg.

Let's start with the imports!

In [1]:
import pandas as pd
import psycopg2

## Task 1 (Project idea)

1) Have a look at the data sets hochschulen.csv and bevoelkerung.csv
2) Conceptualize a data visualization that integrates and effectively presents information from
the given datasets. Prepare a brief written description of your project goal.

Let's start by having a look at the data

In [2]:
# We'll use pandas to read the csv files so we can see what's going on before we start:
hochschulen = pd.read_csv("hochschulen.csv", sep=";")
hochschulen.head()

,Hochschulkurzname,Hochschulname,Hochschultyp,Trägerschaft,Bundesland,Anzahl Studierende,Gründungsjahr,Promotionsrecht,Habilitationsrecht,Straße,Postleitzahl (Hausanschrift),Ort (Hausanschrift),Home Page
0,Aachen FH,Fachhochschule Aachen,Fachhochschulen / HAW,öffentlich-rechtlich,Nordrhein-Westfalen,14086,1971,Nein,Nein,Bayernallee 11,52066.0,Aachen,http://www.fh-aachen.de
1,Aachen TH,Rheinisch-Westfälische Technische Hochschule A...,Universitäten,öffentlich-rechtlich,Nordrhein-Westfalen,45527,1870,Ja,Ja,Templergraben 55,52062.0,Aachen,https://www.rwth-aachen.de
2,Aalen H,Hochschule Aalen - Technik und Wirtschaft,Fachhochschulen / HAW,öffentlich-rechtlich,Baden-Württemberg,4559,1962,Nein,Nein,Beethovenstraße 1,73430.0,Aalen,http://www.hs-aalen.de
3,Albstadt-Sigmaringen H,Hochschule Albstadt-Sigmaringen,Fachhochschulen / HAW,öffentlich-rechtlich,Baden-Württemberg,2666,1971,Nein,Nein,Anton-Günther-Straße 51,72488.0,Sigmaringen,www.hs-albsig.de
4,Alfter HfKuG,Alanus Hochschule für Kunst und Gesellschaft,Künstlerische Hochschulen,"privat, staatlich anerkannt",Nordrhein-Westfalen,1564,1973,Ja,Nein,Villestraße 3,53347.0,Alfter,https://www.alanus.edu/de/home

That looks alright for now, now let's try loading the other dataset

In [3]:
bevoelkerung = pd.read_csv("bevoelkerung.csv", sep=";", encoding='ISO-8859-1')
bevoelkerung.head()

                                                                         GENESIS-Tabelle: 12411-01-01-4
Bevölkerung nach Geschlecht - Stichtag 31.12. -... NaN NaN      NaN                                 NaN
Tiefe: Kreise und krfr. Städte                     NaN NaN      NaN                                 NaN
Fortschreibung des Bevölkerungsstandes             NaN NaN      NaN                                 NaN
Bevölkerungsstand (Anzahl)                         NaN NaN      NaN                                 NaN
NaN                                                NaN Stichtag Stichtag                       Stichtag

We have some general information at the top of the table with some metadata. We're not interested in that, so let's try and skip it

In [4]:
bevoelkerung = pd.read_csv("bevoelkerung.csv", sep=";", encoding='ISO-8859-1', skiprows=7)
bevoelkerung.head()

,Unnamed: 0,Unnamed: 1,Insgesamt,männlich,weiblich
0,DG,Deutschland,84358845,41559052,42799793
1,01,Schleswig-Holstein,2953270,1443269,1510001
2,01001,"Flensburg, kreisfreie Stadt",92550,45874,46676
3,01002,"Kiel, kreisfreie Stadt",247717,120149,127568
4,01003,"Lübeck, kreisfreie Stadt, Hansestadt",218095,104723,113372

Alright, that's definitely a mess. That will need some data cleaning up, which we'll do for task 3.